*{
    margin: 0px;
    padding: 0px;
}
.log{
    margin: auto;
    margin-top: 100px;
    border: 2px solid rgb(76, 0, 255);
    height: auto;
    width: fit-content;
}
.error{
    background:#ff1515;
	color:white;
	line-height:30px;
	border-radius:5px;
	height:30px;
	
	text-align:center;
	margin-bottom:10px;
}
.dropdwn {
    position: relative;
    display: inline-block;
}

.myevents {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.view {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.view a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.view a:hover{
    background-color: #ddd;
}
.dropdwn:hover .view{display: block;}